<section class="project-section">
    <h2>AffordNiture E-Commerce Store</h2>
    <p class="project-description">
        A clean and modern online store designed for furniture sales. Includes dynamic product listings, cart, and checkout system. Built with .NET and Razor Pages.
    </p>

    <div class="gallery-wrapper">
        <button class="scroll-btn left" onclick="scrollGallery('left')">
            ← Left
        </button>

        <div class="image-gallery" id="affordGallery">
        <img src="~/images/Affordniture/afford.png" alt="Af" />
        <img src="~/images/Affordniture/afford1.png" alt="Af1" />
        <img src="~/images/Affordniture/afford3.png" alt="Af2" />
        <img src="~/images/Affordniture/afford4.png" alt="Af4" />
        <img src="~/images/Affordniture/afford5.png" alt="Af5" />
        <img src="~/images/Affordniture/afford6.png" alt="Af6" />
        <img src="~/images/Affordniture/afford7.png" alt="Af7" />
        <img src="~/images/Affordniture/afford8.png" alt="Af8" />
        <img src="~/images/Affordniture/afford9.png" alt="Af9" />
        <img src="~/images/Affordniture/afford10.png" alt="Af10" />
        <img src="~/images/Affordniture/afford11.png" alt="Af11" />
        <img src="~/images/Affordniture/afford2.png" alt="Af3" />
        <img src="~/images/Affordniture/afford12.png" alt="Af12" />
        <img src="~/images/Affordniture/afford13.png" alt="Af13" />
        <img src="~/images/Affordniture/afford14.png" alt="Af14" />
    </div>

        <button class="scroll-btn right" onclick="scrollGallery('right')">
            Right →
        </button>
    </div>

</section>

<section class="project-section">
    <h2>Mangam Resort WebApp</h2>
    <p class="project-description">A visually dynamic website showcasing resort attractions, interactive bookings, and user-friendly design.</p>

    <div class="gallery-wrapper">
        <button class="scroll-btn left" onclick="scrollGallery2('left')">
            ← Left
        </button>

        <div class="image-gallery" id="affordGallery2">
        <img src="/Images/MangamRe/MR1.png" alt="Mangam Resort Screenshot 1">
        <img src="/Images/MangamRe/MR2.png" alt="Mangam Resort Screenshot 2">
        <img src="/Images/MangamRe/MR3.png" alt="Mangam Resort Screenshot 3">
        <img src="/Images/MangamRe/MR4.png" alt="Mangam Resort Screenshot 4">
        <img src="/Images/MangamRe/MR5.png" alt="Mangam Resort Screenshot 5">
        <img src="/Images/MangamRe/MR6.png" alt="Mangam Resort Screenshot 6">
        <img src="/Images/MangamRe/MR7.png" alt="Mangam Resort Screenshot 7">
        <img src="/Images/MangamRe/MR8.png" alt="Mangam Resort Screenshot 8">
        <img src="/Images/MangamRe/MR9.png" alt="Mangam Resort Screenshot 9">
        <img src="/Images/MangamRe/MR10.png" alt="Mangam Resort Screenshot 10">
        <img src="/Images/MangamRe/MR11.png" alt="Mangam Resort Screenshot 11">
    </div>

        <button class="scroll-btn right" onclick="scrollGallery2('right')">
            Right →
        </button>
    </div>

</section>

<section class="project-section">
    <h2>Let Me Budge Mobile App(Team Project)</h2>
    <p class="project-description">Let Me Budge is a mobile budgeting app by Johnston Oladunjoye, Shayolin Naidoo, Tshepo CHOCHO and Myself that helps users track expenses, manage income, and stay on top of their financial goals with a clean, intuitive interface.</p>

    <div class="gallery-wrapper">
        <button class="scroll-btn left" onclick="scrollGallery3('left')">
            ← Left
        </button>

        <div class="image-gallery" id="affordGallery3">
            <img src="/Images/Budge/pro1.png" alt="Mangam Resort Screenshot 1">
            <img src="/Images/Budge/pro2.png" alt="Mangam Resort Screenshot 2">
            <img src="/Images/Budge/pro3.png" alt="Mangam Resort Screenshot 3">
            <img src="/Images/Budge/pro4.png" alt="Mangam Resort Screenshot 4">
            <img src="/Images/Budge/pro5.png" alt="Mangam Resort Screenshot 5">
            <img src="/Images/Budge/pro8.png" alt="Mangam Resort Screenshot 6">
            <img src="/Images/Budge/pro9.png" alt="Mangam Resort Screenshot 7">
            <img src="/Images/Budge/pro10.png" alt="Mangam Resort Screenshot 8">
            <img src="/Images/Budge/pro11.png" alt="Mangam Resort Screenshot 9">
            <img src="/Images/Budge/pro12.png" alt="Mangam Resort Screenshot 10">
            <img src="/Images/Budge/pro13.png" alt="Mangam Resort Screenshot 11">
        </div>

        <button class="scroll-btn right" onclick="scrollGallery3('right')">
            Right →
        </button>
    </div>

</section>


